body {
    font-family: Arial, sans-serif;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; /* Optional for text contrast */
}

.container {
    margin-top: 50px;
}

.form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.form-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #3e8e41;
}

#prediction {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#button2 {
    background-color: #ff9800;
    color: #fff;
}

#button1 {
    background-color: #4CAF50;
    color: #fff;
}


